  a {
    color: black;
    text-decoration: none;
  }
  
  .a_header:hover {
    border-bottom: 1px solid black;
  }
  
  
  .a_card:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  }
  
  
  
  
  img.small-rotate2 {
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
  }
  img.small-rotate2:hover {
    -webkit-transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
            transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
  }
  
  img.small-rotate4 {
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
  }
  img.small-rotate4:hover {
    -webkit-transform: rotate(13deg); /* Градусы поворота можно изменить по необходимости */
            transform: rotate(13deg); /* Градусы поворота можно изменить по необходимости */
  }
  
  img.small-rotate1 {
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
  }
  img.small-rotate1:hover {
    -webkit-transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
            transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
  }
  
  .hover-image-scale {/*  display: inline-block; */overflow: hidden; /* Скрываем всё за контуром */}
  .hover-image-scale img {
    transition: 1s; /* Время эффекта */
    display: block; 
  }
  .hover-image-scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
  
  .tekst_sverhu_kartinki {
      position: absolute;
      top: 5%;
      left: 5%;
      text-transform: uppercase;
      color: white;
      padding: 10px;
      font-size: 25px;
      font-family: 'Open Sans',Arial,sans-serif;
      font-weight: 600;
      z-index: 1;
      text-align: left;
  }
  .tekst_snizu_kartinki {
      position: absolute;
      top: 80%;
      left: 10%;
      color: white;
      padding: 10px;
      font-size: 16px;
      font-family: 'Open Sans',Arial,sans-serif;
      font-weight: 500;
      z-index: 1;
      text-align: left;
  }

  footer {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    color: #494949;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}